/*hoja es estilo charlistas*/
#charlista-home a{text-decoration:none;
color:#000;
}

.foto-charlista {
  height: 11rem;
  width: 11rem;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid #000;
  border-radius: 5px;
  background-size: cover;
  font-size: 0;
}

.single.single-charlistas header.entry-header {
  background-color: #333;
  position: relative;
  height: 240px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  display: flex;
  color: #fff;
  background-position: center center;
  background-size: 100%;
  z-index: 0;
  background-repeat: no-repeat;
}

.cabecera {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

}
.nombre-titulo {
  height: 100px;
  width: auto;
  text-align: left;
  padding-left: 3%;
}

.subtitulo {
  width: 100%;
}

.single.single-charlistas .entry-title {
  width: 100%;
}

ul.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;

}

ul.tag li{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #e62b1e;
  padding:0.2rem;
}

ul.tag li:nth-last-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #e62b1e;
  margin-left:1rem;

}

.video-charlista iframe{
  height: 50vh;
}


/*home charlistas*/
.home .foto-charlista {
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #e62b1e;
  border-radius: 100px;
  background-size: cover;
  font-size: 0;
  flex-shrink: 0;
}
.home ul.tag {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  flex-direction: column;
  margin: 2px;
}
.home ul.tag li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  background-color: #e62b1e;
  padding: 0.2rem;
  font-size: 0.70rem;
  color: #fff;
  border-radius: 100px;
}

.home ul.tag li:nth-last-child(1) {
  margin-top:0.2rem;
  margin-left:0;
}

.home h6, .h6 {
  font-size: 0.9rem;
}

.home .subtitulo {
  width: 100%;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}


.home .charlistas-home {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: revert;
  height: auto;
  padding: 0.4rem;
  border-bottom: 1px solid #d5d5d5;
}

.home .charlistas-home:nth-last-child(1){
  border-bottom: 0px solid #d5d5d5;
}

.nombre-titulo .entry-title{
 margin:0px; 
}